<section class="home-container">
  <header class="home__header__main">
    Header
  </header>
  <div class="home__header__sub">
  Header Sub
  </div>
  <section class="home__features">
    <div class="home__feature">
      feature
    </div>
    <div class="home__feature">
      feature
    </div>
    <div class="home__feature">
      feature
    </div>
    <div class="home__feature">
      feature
    </div>
    <div class="home__feature">
      feature
    </div>
    <div class="home__feature">
      feature
    </div>
  </section>
  <div class="home__story__pictures">
    <!-- <%= image_tag("story_background_image.jpg", class: "home__story_background_image") %> -->
    <%= image_tag("story_crew.jpg", class: "home__story_secondary_image") %>
    <%= image_tag("story_personal_image.jpg", class: "home__story_personal_image") %>
  </div>

  <div class="home__story__content">
    <h3 class="heading-3 mb-sm">Instructor talks</h3>
    <h2 class="heading-2 heading-2--dark mb-md">&ldquo;For me showing people around is one of the most fun things to do&rdquo;</h3>
    <p class="home__story__content__text mb-lg">Lorem ipsum, it is amazing.Lorem ipsum, it is amazing.Lorem ipsum, it is amazing.Lorem ipsum, it is amazing.</p>
    <button class="btn-action"> Book a trip</button>
  </div>
</section>


  <section class="home__trips">
    <% @trips.each do |trip| %>
    <div class="home__trip">
      <%= image_tag("story_background_image.jpg", class: "home__trip_image") %>
        <svg class="home__trip_like">
          <%= inline_svg("like.svg") %>
        </svg>

        <h5 class="home__trip_name"><%= trip %></h5>

        <div class="home__trip_location">
          <svg>
            <%= inline_svg("location.svg") %>">
          </svg>
          <p> trip.location</p>
        </div>

        <div class="home__trip_activity">
          <svg>
            <%= inline_svg("activity.svg") %>">
          </svg>
          <p> trip.location</p>
        </div>

        <div class="home__trip_rating">
          <svg>
            <%= inline_svg("rating.svg") %>">
          </svg>
          <p> trip.location</p>
        </div>

        <div class="home__trip_transport">
          <svg>
            <%= inline_svg("transport.svg") %>">
          </svg>
          <p> trip.location</p>
        </div>
      </div>

      <button class="btn home__trip_btn"></button>
    <% end %>
  </section>




  <section class="home__articles">
    Articles

  </section>

  <footer class="footer">
    Footer

  </footer>
</section>
